// Page specific styles
@import 'categories';
@import 'schedule';
@import 'breadcrumb';
@import 'tag-cloud';

// Custom styles.
body{
    background:url(/images/mone.jpg);
    background-attachment:fixed;
}
main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    min-height: 500px;
}
.post-toc .nav .nav-child { 
    display: block;
}