// Custom styles.
body{
    background:url(/images/back1.jpg);
    background-repeat: no-repeat; // 如果背景图片不能全屏，那么是否平铺显示，充满屏幕
    background-attachment: fixed; // 背景是否随着网页上下滚动而滚动，fixed 为固定
    background-size: cover;       //填充
    background-position:100% 50%;
}

body {counter-reset: h2}
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}
  h2:before {counter-increment: h2; content: counter(h2) ". "}
  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
  h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }

main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    min-height: 500px;
}
.post-toc .nav .nav-child { 
    display: block;
}
.sidebar {
    opacity: 0.9;
    box-shadow: none
    background: none
}
// 透明度设置
.content-wrap {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,0.9);
}

.popup {
  opacity: 0.9;
}
